<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>agentTarget</name>
  <description></description>
  <remoteFS>/home/adminuser</remoteFS>
  <numExecutors>3</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@2.948.vb_8050d697fec">
    <host>52.143.148.50</host>
    <port>22</port>
    <credentialsId>8c38b2e3-8d59-472f-ba8c-7a4dcb2fa222</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>dev</label>
  <nodeProperties/>
</slave>